.App {
  text-align: center;
}

.App-logo {
  margin-top: -10vh;
  margin-bottom: 5vh;
  height: 40vmin;
  pointer-events: none;
  filter: drop-shadow(0 0 70px #000000);
}

.App-header {
  background-image: url("./Bacgrounds/fondo_mobile.jpg");
  background-size: 150%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button{
  background-color: darkgreen;
  border-style: none;
  font-size: 1em;
  padding: 1vh 2vw;
  color: white;
  border-radius: 5px;
}
button:hover{
  background-color: #024002;
  transition: all .4s;
}
button:active{
  background-color: #019a01;
}

@media only screen and (min-device-width: 780px ) {
  .App-header{
    background-image: url("./Bacgrounds/fondo2.jpg");
    background-size: 100%;
  }

}
